body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
  font-weight: 300;
}
#todos{
margin-top: 20px;
margin-left: 30px;

}
.Resp1ColMax640 {
  margin: 0;
  padding: 0;
  width: 640px;
  box-sizing: border-box;
  margin: auto;
}
  @media (max-width: 640px) {
    .Resp1ColMax640 {
      width: 100%;
      box-sizing: border-box;
    }
  }

  .Resp1ColMax640 h4 {
    padding: 20px;
    margin: 0;
    line-height: 60px;
    background-color: #afeeee;
  }

.formfield {
  margin-top: 30px;
}
.formfield p {
  padding: 20px;
}
.formfield input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid red;
  font-size: 30px;
  padding: 20px;
}
